@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

a {
  @apply text-brand underline-offset-4 hover:underline;
}

